<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.mybatis.mapper.LongTestMapper">
  <resultMap id="BaseResultMap" type="com.lc.mybatis.domain.LongTest">
    <result column="amount" jdbcType="BIGINT" property="amount" />
  </resultMap>
  <insert id="insert" parameterType="com.lc.mybatis.domain.LongTest">
    insert into long_test (amount)
    values (#{amount,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lc.mybatis.domain.LongTest">
    insert into long_test
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="amount != null">
        amount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="amount != null">
        #{amount,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>